<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sharkaboi.sharkplayer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".SharkPlayer"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SharkPlayer">
        <activity
            android:name=".exoplayer.ui.VideoPlayerActivity"
            android:exported="true" />
        <activity
            android:name=".exoplayer.ui.AudioPlayerActivity"
            android:exported="true" />
        <activity
            android:name=".modules.main.ui.MainActivity"
            android:exported="true" />
        <activity
            android:name=".modules.splash.ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.SharkPlayer.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>